*{
    @import url('https://fonts.googleapis.com/css2?family=Anek+Latin:wght@100;500&display=swap');
    font-family: 'Anek Latin', sans-serif;
}
.header{
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 50vh;

}

.header .text h1{
    font-size: 2.5rem;
    line-height: 1.2;
    font-weight: 700;
    margin-bottom: 17px;
}

.btn-main{
    background-color: #fbffa3;
    color: rgb(34, 34, 34);
    box-shadow: 10px 10px 14px 1px rgb(0 0 0 / 20%);
    height: 40px;
    text-align: center;
    width: 180px;
    border-radius: 50px;
    border: none;
    margin-left: 10px;

}
form{
    display: flex;
    flex-direction: row;
    align-items: center;
}
input{
    box-shadow: 10px 10px 14px 1px rgb(0 0 0 / 20%);
    padding: 10px !important;
    border-radius: 24px !important;
    border: none !important;
    height: 40px;

}
.card {
    color: #000 !important;
}